*{
  margin:0;
  padding:0;
}
body{
  font-family:Arial,Sans-Serif;
  font-size:small;
  padding:2em;
}

/* JS enabled */
address{
  background:#fff;
  border:none;
  font-style:normal;
  padding:.5em;
  border-top:1px solid #ccc;
}
h3{
  padding-bottom:.5em;
  background:#fff;
  border:none;
}
h3 a{
  color:#369;
}

/* dynamic classes */
.hide{
  position:absolute;
  top:0;
  left:-9999px;
  height:0;
}
